.navbar.navbar-default
  .container
    .navbar-header
      = link_to "20spokes", root_path,  class: 'navbar-brand'
    %ul.nav.navbar-nav.navbar-left
      %li.navbar_item
        = link_to "Contact", contact_index_path
